<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ManMon/style.css' %}" />
<html>

<style>
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 75%;
}

.button:hover {
    background-color: #4CAF00;
}

</style>
<h2 style = "text-align: center;color:rgb(110, 101, 252);">Manage Your Money</h2>

    <p style = "font-size:130%;">Payment</p>
    <form action="{% url 'ManMon:savePayment' %}" method="post">
    {% csrf_token %}

        Note:
        <input type="text" name="note_payment">
        Type:
        <select name="type_payment">
        {% for typepayment in type_pay_list %}
            <option for="type_payment{{ forloop.counter }}">{{ typepayment.type_payment }}</option>
        {% endfor %}
        </select><br>
        <br>Payment:
        <input type="number" name="payment" step="any">
        <input type="datetime-local" name="dmy_payment"><br>
        <input type="submit">
    </form>
<br>
<a href="{% url 'ManMon:mainpage' %}" class="button"> {{"back to main page"}} </a>

</body>
</html>
