{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'ManMon/style.css' %}" />
<html>

<style>
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 75%;
}

.button:hover {
    background-color: #4CAF00;
}

</style>
<h1 style ="color:rgb(110, 101, 252);">Add Income Type</h1>

    <form action="{% url 'ManMon:saveType'%}" method="post">
    <input type="radio" name="choice" value="income">
    <label style ="color:rgb(110, 101, 252);">Income</label>
    <input type="radio" name="choice" value="payment">
    <label style ="color:rgb(110, 101, 252);">Payment</label><br>
    {% csrf_token %}
        <p style ="color:rgb(110, 101, 252);">
            Type:<input type="text" name="type">
            <input type="submit">
        </p>
        
    </form>

<a href="{% url 'ManMon:mainpage' %}" class="button"> back to main page</a>

</html>
