<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ManMon/style.css' %}" />
<html>
<style>
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 75%;
}

.button:hover {
    background-color: #4CAF00;
}

</style>
<h2 style = "text-align: center;color:rgb(110, 101, 252);">Manage Your Money</h2>



    <br> 
    <p style = "font-size:130%;clear:both;">Income</p>
    <form action="{% url 'ManMon:saveIncome'%}" method="post">
    {% csrf_token %}

        Note:
        <input type="text" name="note_income">
        Type:
        <select name="type_income">
        {% for typeincome in type_in_list %}
            <option for="type_income{{ forloop.counter }}">{{ typeincome.type_income }}</option>
        {% endfor %}
        </select> <br>  
        <br>Income:
        <input type="number" name="money" step="any">  
        <input type="datetime-local" name="dmy_income"> <br>  
        <input type="submit">
    </form>
<br>
<a href="{% url 'ManMon:mainpage' %}" class="button">back to main page</a>

</body>
</html>
