<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'ManMon/style.css' %}" />

<h1 style = "text-align: center;color:rgb(110, 101, 252);">Manage Your Money</h1>

<div class="btn-group">
  <a href="{% url 'ManMon:callAccountInput' %}" class="button" >{{"Account Input"}}</a>
  <a href="{% url 'ManMon:history' %}" class="button" >{{"history"}}</a>
  <a href="{% url 'ManMon:callInsertType' %}" class="button">{{"Insert Type"}}</a>
</div>

<br>
<table border=1 style="width:50%;clear:both" align="center" bgcolor=#00bfff>
        <tr>
            <td>Note</td>
            <td>Money</td>
            <td>Type</td>
            <td>Date</td>
        </tr>
    {% for account in account_list %}
        <tr>
            <td>{{ account.note }}</td>
            <td>{{ account.money }} Bath</td>
            <td>{{ account.type_note }}</td>
            <td>{{ account.pub_date }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td style="text-align: center;" colspan="5">money sum : {{ remain_money }} Baths</td>
        </tr>
</body>
</html>
