<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ManMon/style.css' %}" />
<html>
<style>

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5}
tr:nth-child(even) {background-color: #ff0055}

</style>


<h1 style = "text-align: center;">Manage Your Money</h1>

<div class="btn-group">
  <a href="{% url 'ManMon:callAccountInput' %}" class="button" >{{"Account Input"}}</a>
  <a href="{% url 'ManMon:history' %}" class="button" >{{"history"}}</a>
  <a href="{% url 'ManMon:callInsertType' %}" class="button">{{"Insert Type"}}</a>
  <a href="{% url 'ManMon:getCSV' %} " class="button">{{"Export"}}</a>
  <a href="{% url 'ManMon:uploadFile'%}" class="button">{{"Upload"}}</a>
</div>

<br>
<table border=1 style="width:50%;clear:both" align="center" bgcolor=#00bfff>
        <tr>
            <td>Note</td>
            <td>Money</td>
            <td>Type</td>
            <td>Date</td>
        </tr>
    {% for account in account_list %}
        <tr>
            <td>{{ account.note }}</td>
            <td>{{ account.money }} Baths</td>
            <td>{{ account.type_note }}</td>
            <td>{{ account.pub_date }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td style="text-align: center;" colspan="5">money sum : {{ remain_money }} Baths</td>
        </tr>
</body>
</html>
