<!DOCTYPE html>
{% load static %}
<html>
<head>
<style>
.btn-group .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:hover {
    background-color: #4CAF00;
}
</style>
</head>

<body bgcolor="#dcbf34" >
<h2 style = "text-align: center;color:rgb(110, 101, 252);">Manage Your Money</h2>

<div class="btn-group">
  <a href="{% url 'ManMon:showIncome' %}" class="button" >{{"Income List"}}</a>
  <a href="{% url 'ManMon:showPayment' %}" class="button" >{{"Payment List"}}</a>
</div>

    <br> 
    <p style = "font-size:130%;clear:both;">Income</p>
    <form action="{% url 'ManMon:saveIncome'%}" method="post">
    {% csrf_token %}

        Note:
        <input type="text" name="note_income">
        Type:
        <select name="type_income">
        {% for typeincome in type_in_list %}
            <option for="type_income{{ forloop.counter }}">{{ typeincome.type_income }}</option>
        {% endfor %}
        </select> <br>  
        <br>Income:
        <input type="number" name="money" step="any">  
        <input type="datetime-local" name="dmy_income"> <br>  
        <input type="submit">

    </form>


    <p style = "font-size:130%;">Payment</p>
    <form action="{% url 'ManMon:savePayment' %}" method="post">
    {% csrf_token %}

        Note:
        <input type="text" name="note_payment">
        Type:
        <select name="type_payment">
        {% for typepayment in type_pay_list %}
            <option for="type_payment{{ forloop.counter }}">{{ typepayment.type_payment }}</option>
        {% endfor %}
        </select><br>
        <br>Payment:
        <input type="number" name="payment" step="any">
        <input type="datetime-local" name="dmy_payment"><br>
        <input type="submit">
    </form>

<br>
<table border=1 style="width:20%" align="center">
        <tr>
            <td style="text-align: center;" colspan="1">remain money : {{ remain_money }} Baths</td>
        </tr>
</body>
</html>
