<html>
<body bgcolor="#dcbf34" >
<h1 style="text-align:center">Income List</h1>

{% if income_list %}
<table border=1 style="width:50%" align="center" bgcolor=#00bfff>
        <tr>
            <td>Note</td>
            <td>Money</td>
            <td>Type</td>
            <td>Date</td>
        </tr>
    {% for income in income_list %}
        <tr>
            <td>{{ income.income_text }}</td>
            <td>{{ income.earning }} Bath</td>
            <td>{{ income.type_income }}</td>
            <td>{{ income.pub_date }}</td>
        </tr>
    {% endfor %}
        <tr>
            <td style="text-align: center;" colspan="5">income sum : {{ incomesum }} Baths</td>
        </tr>
{% else %}
    <p> Insert your income</p>
{% endif %}

</body>
</html>
