<!DOCTYPE html>
<html>

<body bgcolor="#00afff" >

<h1 style = " font-size:250%;text-align:center;"> My Polls</h1>
{% if latest_question_list %}
    <ul>
    <table border=1 align="center" >
    <a href="{% url 'polls:addQues' %}" ><h1 style = "text-align:center;">{{"Add Question"}}</h1></a>

    {% for question in latest_question_list %}
        <tr >
            <td >
                <li><a  href="{% url 'polls:detail' question.id %}" >{{ question.question_text }}</a></li>
           </td>
        </tr>  
    {% endfor %}
</table>
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>



