body {
    background: white url("images/background4.jpg") no-repeat  ;
}
@font-face {
    font-family: myFirstFont ;
    src: url(fonts/Pangolin-Regular.ttf);
}

h1 {
    font-family: myFirstFont;
    color:rgb(110, 101, 252);
}
p {
    font-family: myFirstFont;
    color:rgb(0, 191, 255);
}

.btn-group .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:hover {
    background-color: #4CAF00;
}

.circleBtn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25%;

}

.circleBtn:hover {
    background-color: #4CAF00;
}


